<!DOCTYPE html>
<html lang="en">
<head>
   <!-- <link rel="stylesheet" href="../../public/styles/base.css"> -->
   <link rel="stylesheet" href="../../public/styles/modules.css" type="text/css">
    <title>search field</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav">

               <li>
                <a href="">home</a>
               </li> 
               
               <li>

                   <a href="">books</a>
               </li>
            </ul>
        </nav>
    </header>
    <h1 class="title">Search Result</h1>
    <p> totalBooks : <%= books.lenght %></p>  <!-- books = data.rows  -->
    <ul>
        <% books.forEach(book => { %>
            <li class="continer"> 
                <p><%= book.title %></p>
                <img src="<%= book.imgUrl %>"> 
                <p><%= book.authors %></p>
                 <p class="text"><%= book.desc %></p>
            </li>
            <button><a href="/books/show/<%= book.id %>">view Details</a></button>
        <% }) %>
    </ul>
</body>
</html>